*/__pycache__/*
*.ini
*.idea
.vscode/*
taxonomies/*
static/taxonomies/*
log/*
plots/*
*.pyc
*.plk
sessions/*
debug.log
clustering.png
scaling.png
similarities.png
classification.png
cache/*
microservices/*/static