{% extends "base.html" %}
{% block title %}Attributes{% endblock %}
{% block content %}
<p>
    <h3><span>Attributes</span></h3>
</p>
<p><span>
The Attributes listed below are currently implemented and can be used for machine learning tasks.
<br />
Additionally, the corresponding base is shown.
In most cases, this is a taxonomy.
<br />
If this is not the case, "-" will be displayed instead.
</span></p>

<table style="width:50%">
    <tr>
        <th><span>Attribute</span></th>
        <th><span>Base</span></th>
    </tr>
    {% for attribute in attributes %}
        <tr>
            <td><span>{{attribute[0]}}</span></td>
            <td><span>{{attribute[1]}}</span></td>
        </tr>
    {% endfor %}
  </table>

{% endblock %}
