{% extends "base.html" %}
{% block title %}calculating{% endblock %}
{% block content %}
<body background="/static/logos/planqkbackground2.jpg"></body>
<p>
    <h3><span style="color:white;">Overview Parameters for Calculation</span></h3>
</p>
<br>
<br>
<br>
<br>
<br>
<p>
<form  action = "/start_calculating" method = "POST">
    {% for simiParam in simiParams %}
        {% if simiParam[0] == "entityNumber" %}
            <label for="min"><span style="color: white">Min</span></label>
            &nbsp 
            <input style="width: 70px" type="number" id="min" name="min" min=0 value=0>
            &nbsp &nbsp 
            <label for="max"><span style="color: white">Max</span></label>
            &nbsp 
            <input style="width: 70px" type="number" id="max" name="max" min="0" value={{simiParam[3]-1}}>
            &nbsp &nbsp &nbsp &nbsp &nbsp
            <input type = 'submit' name = 'Start' value = 'Start calculating'/>
        {% endif %}
    {% endfor %}
</form>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li style="color: white"><span style="color: white">{{ message }}</span></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}
</p>
<br>
<br>
<p>
    <h5><span style="color: white">
        The following entity plan are choosen: </span>
    </h5>
    <table style="width:80%; border: 3px solid white">
        <tr style="border: 3px solid white">
            <th><span style="color: white">Aggregator Type</span></th>
            <th><span style="color: white">Transformer Type</span></th>
            <th><span style="color: white">Attribute</span></th>
            <th><span style="color: white">Element Comparer</span></th>
            <th><span style="color: white">Attribute Comparer</span></th>
            <th><span style="color: white">Empty Attribute Action</span></th>
        </tr>
            {% for component in strCostumePlan %}
                {% if component == strCostumePlan[0] %}
                    <td rowspan="0" align=center style="border: 1px solid white"><span style="color: white">{{component}}</span></td>
                {% elif component == strCostumePlan[1] %}
                    <td rowspan="0" align=center style="border: 1px solid white"><span style="color: white">{{component}}</span></td>
                {% else %}
                <tr style="border: 1px solid white">
                    <td><span style="color: white">{{component[0]}}</span></td>
                    <td><span style="color: white">{{component[1]}}</span></td>
                    <td><span style="color: white">{{component[2]}}</span></td>
                    <td><span style="color: white">{{component[3]}}</span></td>
                </tr>
                {% endif %}
            {% endfor %}
    </table>
</p>
<br>
<br>
<p>
    <h5><span style="color: white">
    The following Entity Similarities Object are choosen: </span>
    </h5>
        <table style="width:80%; border: 3px solid white">
            <tr style="border: 3px solid white">
                <th width=20%><span style="color: white">Parameter</span></th>
                <th width=10%><span style="color: white">Value</span></th>
                <th width=50%><span style="color: white">Description</span></th>
                <!--<th><span style="color: white">Debug</span></th>-->
            </tr>
        {% for simiParam in simiParams%}
            {% if simiParam[0] == "name" or simiParam[0] == "entityNumber" or simiParam[0] == "EIM" or simiParam[0] == "EIM" or simiParam[0] == "memoryBool" or simiParam[0] == "errorentitySimilarities" %}
                <tr>
                    <td><span style="color: white">{{simiParam[1]}}</span></td>
                    <td><span style="color: white">{{simiParam[3]}}</span></td>
                    <td><span style="color: white">{{simiParam[2]}}</span></td>
                    <!--<td><span style="color: white">{{simiParam}}</span></td>-->
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    
</p>
<br>
<br>
<p>
    <h5><span style="color: white">
    The following Scaling Object are choosen:</span>
    </h5>
        <table style="width:80%; border: 3px solid white">
            <tr style="border: 3px solid white">
                <th width=20%><span style="color: white">Parameter</span></th>
                <th width=10%><span style="color: white">Value</span></th>
                <th width=50%><span style="color: white">Description</span></th>
                <!--<th><span style="color: white">Debug</span></th>-->
            </tr>
        {% for scalingParam in scalingParams%}
                <tr style="border: 1px solid white">
                    <td><span style="color: white">{{scalingParam[1]}}</span></td>
                    <td><span style="color: white">{{scalingParam[3]}}</span></td>
                    <td><span style="color: white">{{scalingParam[2]}}</span></td>
                    <!--<td><span style="color: white">{{scalingParam}}</span></td>-->
                </tr>
        {% endfor %}
        </table>
    
</p>
<br>
<br>
<p>
    <h5><span style="color: white">
    The following Clustering Object are choosen:</span>
    </h5>
        <table style="width:80%; border: 3px solid white">
            <tr style="border: 3px solid white">
                <th width=20%><span style="color: white" >Parameter</span></th>
                <th width=10%><span style="color: white" >Value</span></th>
                <th width=50%><span style="color: white" >Description</span></th>
                <!--<th><span style="color: white">Debug</span></th>-->
            </tr>
        {% for clusteringParam in clusteringParams%}
                <tr style="border: 1px solid white">
                    <td><span style="color: white">{{clusteringParam[1]}}</span></td>
                    <td><span style="color: white">{{clusteringParam[3]}}</span></td>
                    <td><span style="color: white">{{clusteringParam[2]}}</span></td>
                    <!--<td><span style="color: white">{{clusteringParam}}</span></td>-->
                </tr>
        {% endfor %}
        </table>
</p>
 




{% endblock %}