{% extends "base.html" %}
{% block title %}clustering{% endblock %}
{% block content %}
<p>
    <form action = "/saveload_clustering" method = "POST">
        <p><h6> Enter Session Name <tab id=t2>: 
        <input type = 'text' name = 'session' value="{{session["saveload"]}}"/></p>
        <p><input type = 'submit' name = 'saveload' value = 'Save clustering'/>
        <input type = 'submit' name = 'saveload' value = 'Load clustering'/>
     </form>
</p>
<p>
    <h5>Initialize Clustering Type</h5>
    <form action = "/initialize_clustering" method = "POST">
        <p><h6> Enter scaling type <tab id=t2>: 
        <select id="clustering" name="clustering">
            {% for clustering in clusterings %}   
                <option value={{clustering[1]}}>{{clustering[0]}}</option>
            {% endfor %}
        </select>
        <input type = 'submit' name = 'loadClusteringType' value = 'initialize clustering type'/>
        
     </form>
</p>
{% if existClustering %}
<p>
    <form action = "/set_clustering" method = "POST">
        <table>
            <tr>
                <th>Parameter</th>
                <th>Description</th>
                <th>Input</th>
                <th>Debug</th>
            </tr>
        {% for param in params%}
            {% if param[4] == "header"%}
                <tr>
                    <td>{{param[1]}}</td>
                    <td>{{param[2]}}</td>
                    <td>{{param[3]}}</td>
                    <td>{{param}}</td>
                </tr>
            {% elif param[4] == "number" %}
                <tr>
                    <td>{{param[1]}}</td>
                    <td>{{param[2]}}</td>
                    <td><input type={{param[4]}} id={{param[0]}} name={{param[0]}} min={{param[5]}} step={{param[6]}} value={{param[3]}}></td>
                    <td>{{param}}</td>
                </tr>
            {% elif param[4] == "text" %}
                <tr>
                    <td>{{param[1]}}</td>
                    <td>{{param[2]}}</td>
                    <td><input type={{param[4]}} id={{param[0]}} name={{param[0]}} value={{param[3]}}></td>
                    <td>{{param}}</td>
                </tr>
            {% elif param[4] == "select" %}
                <tr>
                    <td>{{param[1]}}</td>
                    <td>{{param[2]}}</td>
                <td><select id={{param[0]}} name={{param[0]}}>
                    {%for option in param[5] %}
                        {%if option == param[3]%} 
                            <option value={{option}} selected="selected" >{{option}}</option>
                        {% else %}
                            <option value={{option}}>{{option}}</option>
                        {% endif %}
                    {% endfor %}
                </select></td>
                <td>{{param}}</td>
            {% elif param[4] == "checkbox" %}
                <tr>
                    <td>{{param[1]}}</td>
                    <td>{{param[2]}}</td>
                    {% if param[3] %}
                        <td><input type={{param[4]}} id={{param[0]}} name={{param[0]}} checked></input></td>
                    {% else %}
                        <td><input type={{param[4]}} id={{param[0]}} name={{param[0]}} checked></input></td>
                    {% endif %}
                    <td>{{param}}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
        <br>
        <input type = 'submit' name = 'setScalingParameters' value = 'set scaling parameter'/>
    </form>
</p>
{% endif %}
{% endblock %}


