{% extends "base.html" %}
{% block title %}Costume Plan{% endblock %}
{% block content %}
<body background="/static/logos/planqkbackground2.jpg">
<p>
    
</p>
<p>
<table style="width: 100%">
        <tr>
            <td style="width: 50%">
            <h2 font color="blue"> <span style="color:white;">Costume Distance Space</span> </h2>
            <table style="width:fit-content;border: 1px solid white">
                <tr style="border: 1px solid white">
                    <th><span style="color: white">Aggregator Type</span></th>
                    <th><span style="color: white">Transformer Type</span></th>
                    <th><span style="color: white">Attribute</span></th>
                    <th><span style="color: white">Element Comparer</span></th>
                    <th><span style="color: white">Attribute Comparer</span></th>
                    <th><span style="color: white">Empty Attribute Action</span></th>
                </tr>
                    {% for component in session["strCostumePlan"] %}
                        {% if component == session["strCostumePlan"][0] %}
                            <td rowspan="0" align=center style="border: 1px solid white"><span style="color: white">{{component}}</span></td>
                        {% elif component == session["strCostumePlan"][1] %}
                            <td rowspan="0" align=center style="border: 1px solid white"><span style="color: white">{{component}}</span></td>
                        {% else %}
                        <tr style="border: 1px solid white">
                            <td><span style="color: white">{{component[0]}}</span></td>
                            <td><span style="color: white">{{component[1]}}</span></td>
                            <td><span style="color: white">{{component[2]}}</span></td>
                            <td><span style="color: white">{{component[3]}}</span></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
            </table>
            </td>
            <td valign="top" align="middle" style="width: 45%" >
            <div id="bereich" style="width: fit-content; padding: 10px ; height: fit-content ;background-color: #00f9ff; border: 3px #00f9ff;" >
                <h4> Saving and Loading</h4>
                <form action = "/saveload_costume_plan" method = "POST">
                    <h6> Enter sessions Name <tab id=t2>: 
                    <input type = 'text' name = 'session' value="{{session["saveload"]}}"/>
                    <br>
                    <br>
                    <input type = 'submit' name = 'saveload' value = 'Save CDS'/>
                    <input type = 'submit' name = 'saveload' value = 'Load CDS'/>
                </form>
                <a href="/load_costume_plan_entitySimilarities" ><input type="button" value="Load CDS from Similarities"></a>
                <br>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div >
            </td> 
        </tr>
</table>
</p>
<p>
<br>
<a href="/reset_costume_plan" ><input type="button" value="reset to defaults"></a>
<label for="aggregator"><span style="color: white">Aggregator Type :</span></label>
<select id="aggregator" onchange="document.location.href=this.value">
    {% for aggregator in aggregators %}   
        {% if aggregator[0] == session["strCostumePlan"][0] %}
            <option value=/instance_costume_plan/{{aggregator[1]}} selected="selected">{{aggregator[0]}}</option>
        {% else: %}
            <option value=/instance_costume_plan/{{aggregator[1]}}>{{aggregator[0]}}</option>
        {% endif %}
    {% endfor %}
</select>
<label for="transformer"><span style="color: white">Transformer Type :</span></label>
<select id="transformer" onchange="document.location.href=this.value">
    {% for transformer in transformers %}   
        {% if transformer[0] == session["strCostumePlan"][1] %}   
            <option value=/instance_costume_plan/{{transformer[1]}} selected="selected">{{transformer[0]}}</option>
        {% else: %}
            <option value=/instance_costume_plan/{{transformer[1]}}>{{transformer[0]}}</option>
        {% endif %}
    {% endfor %}
</select>
</p>
<table style="width:48% ; float:left">
    <tr>
        <th><span style="color: white">Attribute</span></th>
        <th><span style="color: white">Checkbox</span></th>
        <th><span style="color: white">Element Comparer</span></th>
        <th><span style="color: white">Attribute Comparer</span></th>
        <th><span style="color: white">Empty Attribute Action</span></th>
        
       

    </tr>
    {% for attribute in attributes1 %}
        <tr>
            <td><span style="color: white">{{attribute[0]}}</span></td>
            <td align="middle"><input type="checkbox" id="attributeCheck" name="attributeCheck" onchange="document.location.href=this.value" value="/instance_costume_plan_attribute_{{attribute[1]}}"
                {% for element in session["strCostumePlan"]  %}
                    {% if element[0] == attribute[0] %}
                    checked        
                    {% endif %}
                {% endfor %}
                ></input></td>
            <td>
            
            <fieldset disabled>
            {% for element in session["strCostumePlan"]  %}
                {% if element[0] == attribute[0] %}
                    </fieldset>
                    <fieldset>        
                {% endif %}
            {% endfor %}
            
            <select id="elementComparer" onchange="document.location.href=this.value">
                <option value="None">None</option>
                {% for elementcomparer in elementComparers %}
                    <option value="/instance_costume_plan/{{attribute[1]}}/{{elementcomparer[1]}}"    
                        {% for element in session["strCostumePlan"]  %}
                            {% if element[0] == attribute[0] and elementcomparer[0] == element[1] %}
                                selected="selected"
                            {% endif  %}
                        {% endfor %}
                    >{{elementcomparer[0]}}</option>
                {% endfor %}
            </select>
            </fieldset>
            </td>
            <td>

            <fieldset disabled>
            {% for element in session["strCostumePlan"]  %}
                {% if element[0] == attribute[0] %}
                    </fieldset>
                    <fieldset>        
                {% endif %}
            {% endfor %}

            <select id="attributeComparer" onchange="document.location.href=this.value">
                <option value="None">None</option>
                {% for attributecomparer in attributeComparers %}   
                    <option value="/instance_costume_plan/{{attribute[1]}}/{{attributecomparer[1]}}"
                        {% for element in session["strCostumePlan"]  %}
                            {% if element[0] == attribute[0] and attributecomparer[0] == element[2] %}
                                selected="selected"
                            {% endif  %}
                        {% endfor %}
                    >{{attributecomparer[0]}}</option>
                {% endfor %}
            </select> 
            </fieldset>    
            </td>
            <td>

            <fieldset disabled>
            {% for element in session["strCostumePlan"]  %}
                {% if element[0] == attribute[0] %}
                    </fieldset>
                    <fieldset>        
                {% endif %}
            {% endfor %}


                <select id="emptyAttributeAction" onchange="document.location.href=this.value">
                    <option value="None">None</option>
                    {% for emptyAttributeAction in emptyAttributeActions %}   
                        <option value="/instance_costume_plan/{{attribute[1]}}/{{emptyAttributeAction[1]}}"
                            {% for element in session["strCostumePlan"]  %}
                                {% if element[0] == attribute[0] and emptyAttributeAction[0] == element[3] %}
                                    selected="selected"
                                {% endif  %}
                            {% endfor %}
                        >{{emptyAttributeAction[0]}}</option>
                    {% endfor %}
                </select>
            </fieldset>
            </td>
        </tr>
    {% endfor %}
</table>
<table style="width:48% ; float:right">
    <tr>
        <th><span style="color: white">Attribute</span></th>
        <th><span style="color: white">Checkbox</span></th>
        <th><span style="color: white">Element Comparer</span></th>
        <th><span style="color: white">Attribute Comparer</span></th>
        <th><span style="color: white">Empty Attribute Action</span></th>
        
       

    </tr>
    {% for attribute in attributes2 %}
        <tr>
            <td><span style="color: white">{{attribute[0]}}</span></td>
            <td align="middle"><input type="checkbox" id="attributeCheck" name="attributeCheck" onchange="document.location.href=this.value" value="/instance_costume_plan_attribute_{{attribute[1]}}"
                {% for element in session["strCostumePlan"]  %}
                    {% if element[0] == attribute[0] %}
                    checked        
                    {% endif %}
                {% endfor %}
                ></input></td>
            <td>

            <fieldset disabled>
            {% for element in session["strCostumePlan"]  %}
                {% if element[0] == attribute[0] %}
                    </fieldset>
                    <fieldset>        
                {% endif %}
            {% endfor %}

            <select id="elementComparer" onchange="document.location.href=this.value">
                <option value="None">None</option>
                {% for elementcomparer in elementComparers %}
                    <option value="/instance_costume_plan/{{attribute[1]}}/{{elementcomparer[1]}}"    
                        {% for element in session["strCostumePlan"]  %}
                            {% if element[0] == attribute[0] and elementcomparer[0] == element[1] %}
                                selected="selected"
                            {% endif  %}
                        {% endfor %}
                    >{{elementcomparer[0]}}</option>
                {% endfor %}
            </select>
            </fieldset>
            </td>
            <td>

            <fieldset disabled>
            {% for element in session["strCostumePlan"]  %}
                {% if element[0] == attribute[0] %}
                    </fieldset>
                    <fieldset>        
                {% endif %}
            {% endfor %}

            <select id="attributeComparer" onchange="document.location.href=this.value">
                <option value="None">None</option>
                {% for attributecomparer in attributeComparers %}   
                    <option value="/instance_costume_plan/{{attribute[1]}}/{{attributecomparer[1]}}"
                        {% for element in session["strCostumePlan"]  %}
                            {% if element[0] == attribute[0] and attributecomparer[0] == element[2] %}
                                selected="selected"
                            {% endif  %}
                        {% endfor %}
                    >{{attributecomparer[0]}}</option>
                {% endfor %}
            </select> 
            </fieldset>    
            </td>
            <td>
            <fieldset disabled>
            {% for element in session["strCostumePlan"]  %}
                {% if element[0] == attribute[0] %}
                    </fieldset>
                    <fieldset>        
                {% endif %}
            {% endfor %}
                <select id="emptyAttributeAction" onchange="document.location.href=this.value">
                    <option value="None">None</option>
                    {% for emptyAttributeAction in emptyAttributeActions %}   
                        <option value="/instance_costume_plan/{{attribute[1]}}/{{emptyAttributeAction[1]}}"
                            {% for element in session["strCostumePlan"]  %}
                                {% if element[0] == attribute[0] and emptyAttributeAction[0] == element[3] %}
                                    selected="selected"
                                {% endif  %}
                            {% endfor %}
                        >{{emptyAttributeAction[0]}}</option>
                    {% endfor %}
                </select>
            </fieldset>
            </td>
        </tr>
    {% endfor %}
</table>
    
</body>
{% endblock %}


