{% extends "base.html" %}
{% block title %}Costume Plan{% endblock %}
{% block content %}
<p>

<form action = "/saveload_costume_plan" method = "POST">
    <p><h6> Enter Session Name <tab id=t2>: 
    <input type = 'text' name = 'session' value="{{session["saveload"]}}"/></p>
    <p><input type = 'submit' name = 'saveload' value = 'Save Costume Plan'/>
    <input type = 'submit' name = 'saveload' value = 'Load Costume Plan'/>
    
 </form>
 
 <p>
<h4> Costume Plan </h4>
 </p>
<p><a href="/reset_costume_plan" ><input type="button" value="reset to defaults"></a>
<br>
<br>
<a href="/load_costume_plan_entitySimilarities" ><input type="button" value="load costume plan from entitySimilarities"></a>
<br>
</p>
<p>
<label for="aggregator">Aggregator Type: </label>
<select id="aggregator" onchange="document.location.href=this.value">
    {% for aggregator in aggregators %}   
        {% if aggregator[0] == session["strCostumePlan"][0] %}
            <option value=/instance_costume_plan/{{aggregator[1]}} selected="selected">{{aggregator[0]}}</option>
        {% else: %}
            <option value=/instance_costume_plan/{{aggregator[1]}}>{{aggregator[0]}}</option>
        {% endif %}
    {% endfor %}
</select>
<label for="transformer">Transformer Type: </label>
<select id="transformer" onchange="document.location.href=this.value">
    {% for transformer in transformers %}   
        {% if transformer[0] == session["strCostumePlan"][1] %}   
            <option value=/instance_costume_plan/{{transformer[1]}} selected="selected">{{transformer[0]}}</option>
        {% else: %}
            <option value=/instance_costume_plan/{{transformer[1]}}>{{transformer[0]}}</option>
        {% endif %}
    {% endfor %}
</select>
</p>

<table style="width:50% ; float:left">
    <tr>
        <th>Attribute</th>
        <th>Element Comparer</th>
        <th>Attribute Comparer</th>
        <th>Empty Attribute Action</th>
        
       

    </tr>
    {% for attribute in attributes %}
        <tr>
            <td>{{attribute[0]}}</td>
            <td>
            <select id="elementComparer" onchange="document.location.href=this.value">
                <option value="None">None</option>
                {% for elementcomparer in elementComparers %}
                    <option value="/instance_costume_plan/{{attribute[1]}}/{{elementcomparer[1]}}"    
                        {% for element in session["strCostumePlan"]  %}
                            {% if element[0] == attribute[0] and elementcomparer[0] == element[1] %}
                                selected="selected"
                            {% endif  %}
                        {% endfor %}
                    >{{elementcomparer[0]}}</option>
                {% endfor %}
            </select>
            </td>
            <td>
            <select id="attributeComparer" onchange="document.location.href=this.value">
                <option value="None">None</option>
                {% for attributecomparer in attributeComparers %}   
                    <option value="/instance_costume_plan/{{attribute[1]}}/{{attributecomparer[1]}}"
                        {% for element in session["strCostumePlan"]  %}
                            {% if element[0] == attribute[0] and attributecomparer[0] == element[2] %}
                                selected="selected"
                            {% endif  %}
                        {% endfor %}
                    >{{attributecomparer[0]}}</option>
                {% endfor %}
            </select>     
            </td>
            <td>
                <select id="emptyAttributeAction" onchange="document.location.href=this.value">
                    <option value="None">None</option>
                    {% for emptyAttributeAction in emptyAttributeActions %}   
                        <option value="/instance_costume_plan/{{attribute[1]}}/{{emptyAttributeAction[1]}}"
                            {% for element in session["strCostumePlan"]  %}
                                {% if element[0] == attribute[0] and emptyAttributeAction[0] == element[3] %}
                                    selected="selected"
                                {% endif  %}
                            {% endfor %}
                        >{{emptyAttributeAction[0]}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    {% endfor %}
    </table>
    <table style="width:50% ; float:right">
    <tr>
        <th>Costume Plan</th>
    </tr>
    <tr>
        <td>
            <textarea rows="17" cols="80">{{session["strCostumePlan"]}}</textarea>
        </td>
    </tr>
    </table>


{% endblock %}


