{% extends "base.html" %}
{% block title %}Entity Table{% endblock %}
{% block content %}
<body background="/static/logos/planqkbackground2.jpg"></body>
<p>
    <h3><span style="color:white;">Entity Table</span></h3>
</p>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li style="color: white"><span style="color: white">{{ message }}</span></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}
{% if entitySimiBool %}
<p>
    <form  action = "/instance_table_costume_plan" method = "POST">
        <input type="text" id="sequenzId" name="sequenzId" value="[1,2,3,4]">
        <input type = 'submit' name = 'Start' value = 'Table Entities of List'/>
    </form>
</p>
{% endif %}



{% if tableListBool %}
<p>
        <table style=" border: 3px solid white">
            {% for component in table %}
                <tr style="border: 3px solid white">
                    {% for comp in component%}    
                        {% if component == table[0] %}
                            <td align=center width=60><span style="color:white;"><b>{{comp}}</b></span></td>
                        {% else %}
                            {% if comp == component[1] or comp == component[2] or comp == component[3] %}
                                <td align=center><a href={{comp}} style="color: yellow;"> Link</a></td>
                            {% else %}
                                <td align=center><span style="color:white;">{{comp}}</span></td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
</p>
{% endif %}

{% endblock %}