{% extends "base.html" %}
{% block title %}entitySimilarities{% endblock %}
{% block content %}
<p>
    <form action = "/saveload_entitySimilarities" method = "POST">
        <p><h6> Enter Session Name <tab id=t2>: 
        <input type = 'text' name = 'session' value="{{session["saveload"]}}"/></p>
        <p><input type = 'submit' name = 'saveload' value = 'Save entitySimilarities'/>
        <input type = 'submit' name = 'saveload' value = 'Load entitySimilarities'/>
        
     </form>
</p>
<p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</p>
<p>
    <h3> Initialize entitySimilarities</h3>
    <br>
    <form  action = "/entitySimilarities_initialize" method = "POST">
        <label for="memory">Memory</label>
        {% if memory %}
            <input type="checkbox" id="memory" name="memory" checked></input>
        {% else %}
        <input type="checkbox" id="memory" name="memory" ></input>
        {% endif %}
        <br>
        <label for="noic">Number of import Entities:</label>
        <input type="number" id="noic" name="noic" min="1" value={{numberCostumes}}>
        <p>
            <h5>
                The following entity plan are for initialize:
            </h5>
                <table style="width:80%; border: 1px solid black">
                    <tr style="border: 1px solid black">
                        <th>Aggregator Type</th>
                        <th>Transformer Type</th>
                        <th>Attribute</th>
                        <th>Element Comparer</th>
                        <th>Attribute Comparer</th>
                        <th>Empty Attribute Comparer</th>
                    </tr>
                    {% for component in session["strCostumePlan"] %}
                        {% if component == session["strCostumePlan"][0] %}
                        <td rowspan="0" align=center style="border: 1px solid black">{{component}}</td>
                        {% elif component == session["strCostumePlan"][1] %}
                        <td rowspan="0" align=center style="border: 1px solid black">{{component}}</td>
                        {% else %}
                            <tr style="border: 1px solid gray">
                                <td>{{component[0]}}</td>
                                <td>{{component[1]}}</td>
                                <td>{{component[2]}}</td>
                                <td>{{component[3]}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
        </p>
        <br>
        <br>
        <input type = 'submit' name = 'initializeSimilarities' value = 'initialize entitySimilarities'/>
    </form>
</p>
{% if initialized %}
<p>
    <h6> Initialized entitySimilarities</h6>
    <br>
    Import Entities: {{numberCostumes}}  
    <br>  
    Memory: {{memory}}
    <br> 
    <h5>
        Initialized entity plan :
    </h5>
        <table style="width:80%; border: 1px solid black">
            <tr style="border: 1px solid black">
                <th>Aggregator Type</th>
                <th>Transformer Type</th>
                <th>Attribute</th>
                <th>Element Comparer</th>
                <th>Attribute Comparer</th>
                <th>Empty Attribute Comparer</th>
            </tr>
            {% for component in strCostumePlan %}
                {% if component == strCostumePlan[0] %}
                <td rowspan="0" align=center style="border: 1px solid black">{{component}}</td>
                {% elif component == strCostumePlan[1] %}
                <td rowspan="0" align=center style="border: 1px solid black">{{component}}</td>
                {% else %}
                    <tr style="border: 1px solid gray">
                        <td>{{component[0]}}</td>
                        <td>{{component[1]}}</td>
                        <td>{{component[2]}}</td>
                        <td>{{component[3]}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
</p>
<p>
    <form  action = "/entitySimilarities_create_similaritiesMatrix" method = "POST">
        <h6> Number of Entities for Similarities Matrix: </h6>
        <label for="NoCfSMMin">Min</label>
        <input type="number" id="NoCfSMin" name="NoCfSMMin" min="0" value={{min_value}}>
        <label for="NoCfSMMax">Max</label>
        <input type="number" id="NoCfSMax" name="NoCfSMMax" min="0" value={{max_value}}>
        <br>
        <input type = 'submit' name = 'buildSimiliaritiesMatrix' value = 'buildSimilaitiesMatrix'/>
    </form>
</p>
{% if showplot %}
<p>
    <br> 
    Last Sequenz id : {{last_sequenz_id}}
    <br>
    <img src="/static/similarities.png" alt="image" style="width:1300px">  
</p>    
{% endif %}
{% endif %}

{% endblock %}


