{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<p>
    <h3><span>Home</span></h3>
</p>
<p><span>Welcome to the web GUI for PlanQK.</span><p>
<p><span>{{session["dbConnectionString"]}}</span></p>
<p>
    <a href="/reset_all"><input type="button" value="Reset all settings"></a>
</p>
<span>
<h5>Software dependencies:</h5>

<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Source</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>mysql-connector-python &nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><a href="https://anaconda.org/anaconda/mysql-connector-python" target="_blank" rel="noopener noreferrer" style="color: black;"><u>https://anaconda.org/anaconda/mysql-connector-python</u></a></td>
      </tr>
      <tr>
        <td>networkx</td>
        <td><a href="https://anaconda.org/anaconda/networkx" target="_blank" rel="noopener noreferrer" style="color: black;"><u>https://anaconda.org/anaconda/networkx</u></a></td>
      </tr>
      <tr>
        <td>numpy</td>
        <td><a href="https://anaconda.org/anaconda/numpy" target="_blank" rel="noopener noreferrer" style="color: black;"><u>https://anaconda.org/anaconda/numpy</u></a></td>
      </tr>
      <tr>
        <td>matplotlib</td>
        <td><a href="https://anaconda.org/conda-forge/matplotlib" target="_blank" rel="noopener noreferrer" style="color: black;"><u>ttps://anaconda.org/conda-forge/matplotlib</u></a></td>
      </tr>
      <tr>
        <td>simplejson</td>
        <td><a href="https://anaconda.org/anaconda/simplejson" target="_blank" rel="noopener noreferrer" style="color: black;"><u>https://anaconda.org/anaconda/simplejson</u></a></td>
      </tr>
      <tr>
        <td>colorama</td>
        <td><a href="https://anaconda.org/anaconda/colorama" target="_blank" rel="noopener noreferrer" style="color: black;"><u>https://anaconda.org/anaconda/colorama</u></a></td>
      </tr>
      <tr>
        <td>scikit-learn</td>
        <td><a href="https://anaconda.org/anaconda/scikit-learn" target="_blank" rel="noopener noreferrer" style="color: black;"><u>https://anaconda.org/anaconda/scikit-learn</u></a></td>
      </tr>
      <tr>
        <td>pandas</td>
        <td><a href="https://anaconda.org/anaconda/pandas" target="_blank" rel="noopener noreferrer" style="color: black;"><u>https://anaconda.org/anaconda/pandas</u></a></td>
      </tr>
      <tr>
        <td>flask</td>
        <td><a href="https://anaconda.org/anaconda/flask" target="_blank" rel="noopener noreferrer" style="color: black;"><u>https://anaconda.org/anaconda/flask</u></a></td>
      </tr>
      <tr>
        <td>pygraphviz</td>
        <td><a href="https://anaconda.org/anaconda/pygraphviz" target="_blank" rel="noopener noreferrer" style="color: black;"><u>https://anaconda.org/anaconda/pygraphviz</u></a></td>
      </tr>
      <tr>
        <td>qiskit</td>
        <td><a href="https://qiskit.org" target="_blank" rel="noopener noreferrer" style="color: black;"><u>https://qiskit.org</u></a></td>
      </tr>
      <tr>
        <td>cvxpy</td>
        <td><a href="https://anaconda.org/conda-forge/cvxpy" target="_blank" rel="noopener noreferrer" style="color: black;"/><u>https://anaconda.org/conda-forge/cvxpy</u></a></td>
      </tr>
    </tbody>
</table>
</span>

{% endblock %}