{% extends "base.html" %}
{% block title %}References{% endblock %}
{% block content %}
<p>
    <h3><span>References</span></h3>
</p>
<br>
<h5>Software dependencies:</h5>
<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Source</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>mysql-connector-python &nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><a href="https://anaconda.org/anaconda/mysql-connector-python" target="_blank" rel="noopener noreferrer" style="color: black;"><u>https://anaconda.org/anaconda/mysql-connector-python</u></a></td>
      </tr>
      <tr>
        <td>networkx</td>
        <td><a href="https://anaconda.org/anaconda/networkx" target="_blank" rel="noopener noreferrer" style="color: black;"><u>https://anaconda.org/anaconda/networkx</u></a></td>
      </tr>
      <tr>
        <td>numpy</td>
        <td><a href="https://anaconda.org/anaconda/numpy" target="_blank" rel="noopener noreferrer" style="color: black;"><u>https://anaconda.org/anaconda/numpy</u></a></td>
      </tr>
      <tr>
        <td>matplotlib</td>
        <td><a href="https://anaconda.org/conda-forge/matplotlib" target="_blank" rel="noopener noreferrer" style="color: black;"><u>ttps://anaconda.org/conda-forge/matplotlib</u></a></td>
      </tr>
      <tr>
        <td>simplejson</td>
        <td><a href="https://anaconda.org/anaconda/simplejson" target="_blank" rel="noopener noreferrer" style="color: black;"><u>https://anaconda.org/anaconda/simplejson</u></a></td>
      </tr>
      <tr>
        <td>colorama</td>
        <td><a href="https://anaconda.org/anaconda/colorama" target="_blank" rel="noopener noreferrer" style="color: black;"><u>https://anaconda.org/anaconda/colorama</u></a></td>
      </tr>
      <tr>
        <td>scikit-learn</td>
        <td><a href="https://anaconda.org/anaconda/scikit-learn" target="_blank" rel="noopener noreferrer" style="color: black;"><u>https://anaconda.org/anaconda/scikit-learn</u></a></td>
      </tr>
      <tr>
        <td>pandas</td>
        <td><a href="https://anaconda.org/anaconda/pandas" target="_blank" rel="noopener noreferrer" style="color: black;"><u>https://anaconda.org/anaconda/pandas</u></a></td>
      </tr>
      <tr>
        <td>flask</td>
        <td><a href="https://anaconda.org/anaconda/flask" target="_blank" rel="noopener noreferrer" style="color: black;"><u>https://anaconda.org/anaconda/flask</u></a></td>
      </tr>
      <tr>
        <td>pygraphviz</td>
        <td><a href="https://anaconda.org/anaconda/pygraphviz" target="_blank" rel="noopener noreferrer" style="color: black;"><u>https://anaconda.org/anaconda/pygraphviz</u></a></td>
      </tr>
      <tr>
        <td>qiskit</td>
        <td><a href="https://qiskit.org" target="_blank" rel="noopener noreferrer" style="color: black;"><u>https://qiskit.org</u></a></td>
      </tr>
      <tr>
        <td>cvxpy</td>
        <td><a href="https://anaconda.org/conda-forge/cvxpy" target="_blank" rel="noopener noreferrer" style="color: black;"/><u>https://anaconda.org/conda-forge/cvxpy</u></a></td>
      </tr>
      <tr>
        <td>pylatexenc</td>
        <td><a href="https://anaconda.org/conda-forge/pylatexenc" target="_blank" rel="noopener noreferrer" style="color: black;"/><u>https://anaconda.org/conda-forge/pylatexenc</u></a></td>
      </tr>
      <tr>
        <td>pytorch</td>
        <td><a href="https://anaconda.org/pytorch/pytorch" target="_blank" rel="noopener noreferrer" style="color: black;"/><u>https://anaconda.org/pytorch/pytorch</u></a></td>
      </tr>
    </tbody>
</table>

<br>

<p>
    <h5><span>Data:</span></h5>
</p>
- MUSE
<br>
&nbsp;&nbsp; Johanna Barzen, Michael Falkenthal and Frank Leymann, "Wenn Kostüme sprechen könnten: MUSE - Ein musterbasierter Ansatz 
<br>
&nbsp;&nbsp; an die vestimentäre Kommunikation im Film", Frank und Timme, 2018. <a href="https://www.iaas.uni-stuttgart.de/publications/INBOOK-2018-05-MUSE.pdf" target="_blank" rel="noopener noreferrer" style="color: black;"><u>PDF</u></a>

<br>
<br>

<p>
    <h5><span>Embedding:</span></h5>
</p>
- Multidimensional scaling (MDS): 
<br>
&nbsp;&nbsp; Implementation: <a href="https://scikit-learn.org/stable/modules/generated/sklearn.manifold.MDS.html" target="_blank" rel="noopener noreferrer" style="color: black;"><u>Sklearn online documentation</u></a>
<br>
&nbsp;&nbsp; Theory: K. Backhaus, B. Erichson, W. Plinke and R. Weiber, "Multivariate Analysemethoden.<br>
&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; Eine anwendungsorientierte Einführung", 11th Edition, 2006.

<br>
<br>

<p>
    <h5><span>Clustering:</span></h5>
</p>
- Ordering points to identify the clustering structure (OPTICS):
<br>
&nbsp;&nbsp; Implementation: <a href="https://scikit-learn.org/stable/modules/generated/sklearn.cluster.OPTICS.html" target="_blank" rel="noopener noreferrer" style="color: black;"><u>Sklearn online documentation</u></a>
<br>
&nbsp;&nbsp; Theory: Ankerst, Mihael & Breunig, Markus & Kriegel, Hans-Peter & Sander, Joerg, "OPTICS: Ordering Points to Identify
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the Clustering Structure." Sigmod Record. Vol. 28. P. 49-60. Doi: 10.1145/304182.304187, 1999.
<br>
<br>
- Quantum Approximate Optimization Algorithm for solving MaxCut (QaoaMaxCut):
<br>
&nbsp;&nbsp; Implementation: <a href="https://qiskit.org/documentation/locale/de_DE/tutorials/optimization/6_examples_max_cut_and_tsp.html" target="_blank" rel="noopener noreferrer" style="color: black;"><u>Qiskit online documentation</u></a>
<br>
&nbsp;&nbsp; Theory: Edward Farhi, Jeffrey Goldstone and Sam Gutmann, "A Quantum Approximate Optimization Algorithm", 2014. <a href="https://arxiv.org/pdf/1411.4028.pdf" target="_blank" rel="noopener noreferrer" style="color: black;"><u>arXiv</u></a>
<br>
<br>
- Semi-Definite Programming formulation of MaxCut (SdpMaxCut) and Bureir-Monteiro solver for MaxCut (BmMaxCut):
<br>
&nbsp;&nbsp; Implementation: <a href="https://github.com/pandrey-fr/maxcut" target="_blank" rel="noopener noreferrer" style="color: black;"><u>Github repository</u></a>
<br>
&nbsp;&nbsp; N. Boumal, V. Voroninski and A. Bandeira (2016). The non-convex Burer-Monteiro approach works on smooth semidefinite programs. In proceedings NIPS 2016.
<a href="https://arxiv.org/pdf/1606.04970.pdf" target="_blank" rel="noopener noreferrer" style="color: black;"><u>arXiv</u></a>
<br>
&nbsp;&nbsp; N. Boumal (2016). A Riemannian low-rank method for optimization oversemidefinite matrices with block-diagonal constraints. arXiv preprint.
<a href="https://arxiv.org/pdf/1506.00575.pdf" target="_blank" rel="noopener noreferrer" style="color: black;"><u>arXiv</u></a>
<br>
&nbsp;&nbsp; N. Boumal, B. Mishra, P.-A. Absil and R. Sepulchre (2014). Manopt, a Matlab toolbox for optimization on manifolds. Journal of Machine Learning Research.
<a href="https://jmlr.org/papers/volume15/boumal14a/boumal14a.pdf" target="_blank" rel="noopener noreferrer" style="color: black;"><u>PDF</u></a>
<br>
&nbsp;&nbsp; P.-A. Absil, R. Mahony, and R. Sepulchre (2008). Optimization Algorithms on Matrix Manifolds. Princeton University Press.
<a href="https://press.princeton.edu/absil" target="_blank" rel="noopener noreferrer" style="color: black;"><u>Online Text</u></a>
<br>
<br>
- Negative Rotation Quantum K Means (negrot):
<br>
&nbsp;&nbsp; Sumsam Ullah Khan, Ahsan Javed Awan, Gemma Vall-Llosera, "K-Means Clustering on Noisy Intermediate Scale Quantum Computers", 2018 <a href="https://arxiv.org/pdf/1909.12183.pdf" target="_blank" rel="noopener noreferrer" style="color: black;"><u>arXiv</u></a>
<br>
<br>
- Destructive Interference Quantum K Means (inter):
<br>
&nbsp;&nbsp; Sumsam Ullah Khan, Ahsan Javed Awan, Gemma Vall-Llosera, "K-Means Clustering on Noisy Intermediate Scale Quantum Computers", 2018 <a href="https://arxiv.org/pdf/1909.12183.pdf" target="_blank" rel="noopener noreferrer" style="color: black;"><u>arXiv</u></a>
<br>
<br>
- Classical K Means (classicalKMeans):
<br>
&nbsp;&nbsp; Implementation: <a href="https://scikit-learn.org/stable/modules/generated/sklearn.cluster.KMeans" target="_blank" rel="noopener noreferrer" style="color: black;"><u>Sklearn online documentation</u></a>
<br>
&nbsp;&nbsp; Theory: David Arthur and Sergei Vassilvitskii, "k-means++: The Advantages of Careful Seeding", Proceedings of the eighteenth annual
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ACM-SIAM symposium on Discrete algorithms. Society for Industrial and Applied Mathematics Philadelphia, PA, USA. pp. 1027–1035, 2007 <a href="http://ilpubs.stanford.edu:8090/778/1/2006-13.pdf" target="_blank" rel="noopener noreferrer" style="color: black;"><u>PDF</u></a>
<br>
<br>
- State Preparation Quantum K Means (custom):
<br>
&nbsp;&nbsp; This is a self developt Quantum K Means algorithm. Theory and background will be available soon.
<br>
<br>
- Positive Correlation Quantum KMeans:
<br>
&nbsp;&nbsp; Abhijat et al., "Quantum Unsupervised and Supervised Learning on Superconducting Processors", 2019 <a href="https://arxiv.org/abs/1909.04226" target="_blank" rel="noopener noreferrer" style="color: black;"><u>arXiv</u></a>
<br>
<br>
- Classical K Medoids (classicalKMedoids):
<br>
&nbsp;&nbsp; Implementation: <a href="https://scikit-learn-extra.readthedocs.io/en/latest/generated/sklearn_extra.cluster.KMedoids.html" target="_blank" rel="noopener noreferrer" style="color: black;"><u>Sklearn-Extra online documentation</u></a>
<br>
&nbsp;&nbsp; Theory: Park, H.S.and Jun, C.H., 2009. A simple and fast algorithm for K-medoids clustering.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Expert systems with applications, 36(2), pp.3336-3341. <a href="https://www.sciencedirect.com/science/article/abs/pii/S095741740800081X" target="_blank" rel="noopener noreferrer" style="color: black;"><u>PDF</u></a>
<br>
<br>

<p>
    <h5><span>Classification:</span></h5>
</p>
- Classical support vector machines (classicSklearnSVM):
<br>
&nbsp;&nbsp; Implementation: <a href="https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html" target="_blank" rel="noopener noreferrer" style="color: black;text-decoration: underline"><u>Sklearn online documentation on C-Support Vector Classification</u></a>
<br>
&nbsp;&nbsp; Based on: <a href="https://www.csie.ntu.edu.tw/~cjlin/libsvm/" target="_blank" rel="noopener noreferrer" style="color: black;text-decoration: underline">libsvm</a>
<br>
<br>
- Quantum Support Vector Classifier (using Quantum Kernel method) (qiskitQSVC):
<br>
&nbsp;&nbsp; Implementation: <a href="https://qiskit.org/documentation/machine-learning/stubs/qiskit_machine_learning.algorithms.QSVC.html#qiskit_machine_learning.algorithms.QSVC" target="_blank" rel="noopener noreferrer" style="color: black;text-decoration: underline"><u>Documentation on qiskit QSVC</u></a>
<br>
&nbsp;&nbsp; Theory: Havlíček, V. et al. (2019). "Supervised learning with quantum-enhanced feature spaces." Nature, 567(7747), pp.209-212. <a href="https://arxiv.org/pdf/1804.11326.pdf" target="_blank" rel="noopener noreferrer" style="color: black;text-decoration: underline">PDF</a>
<br>
<br>
- Variational Quantum Classifier (qiskitVQC):
<br>
&nbsp;&nbsp; Implementation: <a href="https://qiskit.org/documentation/machine-learning/stubs/qiskit_machine_learning.algorithms.VQC.html#qiskit_machine_learning.algorithms.VQC" target="_blank" rel="noopener noreferrer" style="color: black;text-decoration: underline"><u>Documentation on qiskit VQC</u></a>
<br>
&nbsp;&nbsp; Theory: Havlíček, V. et al. (2019). "Supervised learning with quantum-enhanced feature spaces." Nature, 567(7747), pp.209-212. <a href="https://arxiv.org/pdf/1804.11326.pdf" target="_blank" rel="noopener noreferrer" style="color: black;text-decoration: underline">PDF</a>
<br>
<br>
- Classical neural network method (classicSklearnNN):
<br>
&nbsp;&nbsp; Implementation: <a href="https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPClassifier.html" target="_blank" rel="noopener noreferrer" style="color: black;text-decoration: underline"><u>Sklearn online documentation on Multi-layer Perceptron classifier</u></a>
<br>
<br>
- Hybrid quantum-classical Neural Network (HybridQNN):
<br>
&nbsp;&nbsp; Implementation: (adapted from) <a href="https://qiskit.org/textbook/ch-machine-learning/machine-learning-qiskit-pytorch.html" target="_blank" rel="noopener noreferrer" style="color: black;text-decoration: underline"><u>Hybrid quantum-classical Neural Networks with PyTorch and Qiskit (Introduction and example)</u></a>
<br>
<br>
<br>

{% endblock %}